@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

This page is created by David Victor van Velden and he is in not responsible if you feel like some movies that should have been added arent added.
